* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  color: white;

}

.logo-style {
  border-radius: 50%;
}

.order-now-style {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 35px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.order-now-style:hover {
  background-color: darkred;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left-nav h1 {
  font-size: 30px;
  font-weight: bold;
}